@keyframes blink {
  0% { color: yellow; }
  25% { color: white; }
  50% { color: yellow; }
  75% { color: white; }
  100% { color: yellow; }
}

h1 {
  animation: blink 2s infinite;
  text-align: center;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center; 
}

img {
  width: 700px; /* Define a largura da imagem */
  height: auto; /* Mantém a proporção da altura da imagem */
}

